$dark-gray: #333;
$white: #fff;

@font-face {
  font-family: 'Jaro';
  src: url('/fonts/Jaro-Regular-VariableFont_opsz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Jaro', ui-rounded;
  background: $dark-gray;
  color: $white;
}
