.container {
  width: 100vw;
  min-height: 100vh; /* Allow the container to expand with content */
  overflow-x: hidden; /* Prevent horizontal scrolling on the page */
  background-color: #333;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  min-height: 100vh; /* Ensure the page takes full viewport height */
  overflow-y: auto; /* Allow vertical scrolling on the page */

  @media (min-width: 768px) {
    padding: 2rem;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
    padding: 3rem;
  }
}

// Add to page.module.scss
.headerWithSettings {
  position: relative;
  width: 100%;
}

.settingsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
