.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  max-height: 120px;

  @media (min-width: 600px) {
    flex-direction: column;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures images are on either side */
    width: 100%;
    max-width: 600px; /* Optional: Limits the width of the container */

    h1 {
      font-style: unset;
      font-size: 1.8rem;
      margin: 0 1rem; /* Adds spacing between the title and the images */
      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }
  }

  .authButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
    gap: 8px;
  }
}
